<!-- Rebekah Banks -->
<div class="row container mt-5">
    <div class="col-8">
        <h3>
            This First Heading
            <small class="text-muted">Will Catch Your Eye</small>
        </h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit quisquam quasi ipsa in, quo laudantium voluptates magni eaque dolor nulla assumenda earum voluptate tempora officiis maiores rem! Veritatis, dolorum nihil?</p>
    </div>
    <div class="col-4 ">
        <img class="w-50 rounded-circle"    src="../../img/1.jpg" alt="First_Image">
    </div>
</div>

<div class="row container">   
    <div class="col-4">
        <img class="w-50 rounded-circle"    src="../../img/2.jpg" alt="Second_Image">
    </div>
    <div class="col-8">
        <h3>
            This First Heading
            <small class="text-muted">Will Catch Your Eye</small>
        </h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit quisquam quasi ipsa in, quo laudantium voluptates magni eaque dolor nulla assumenda earum voluptate tempora officiis maiores rem! Veritatis, dolorum nihil?</p>
    </div>
</div>