<!-- Rebekah Banks -->
<div class="row container">   
    <div class="col-4">
        <img class="w-50 rounded-circle"    src="../../img/2.jpg" alt="Second_Image">
    </div>
    <div class="col-8">
        <h3>
            This First Heading
            <small class="text-muted">Will Catch Your Eye</small>
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, minima asperiores. Necessitatibus labore aspernatur quod distinctio modi culpa officiis hic eius, quos iure corrupti! Itaque facere quo deserunt voluptate ipsa?</p>
    </div>
</div>