<!-- Rebekah Banks -->
<div class="row justify-content-center mt-5">   
    <div class="col-3">
        <img class="w-100 rounded-circle"    src="../../img/2.jpg" alt="Second_Image">
    </div>
    <div class="col-7">
        <h3>
            This Second Heading
            <small class="text-muted">Is Pretty Cool Too.</small>
        </h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit quisquam quasi ipsa in, quo laudantium voluptates magni eaque dolor nulla assumenda earum voluptate tempora officiis maiores rem! Veritatis, dolorum nihil?</p>
    </div>
</div>